.container.contact_container {
  width: 40%;
  /* display: grid; */
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact_options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact_option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact_option:hover {
  background: transparent;
  border-color: var(--color-bg-variant);
}

.content_option_icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact_option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/* ********* FORM ********* */
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.2rem;
  border-radius: 0.5rem;
  /* background: transparent; */
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-dark);
}

.error-captcha {
  color: var(--color-white);
  font-size: 1.2rem;
  margin-top: 0.5rem;
  text-align: center;
  background: #ff5252;
}

/* ********** MEDIA QUERIES (MEDIUM DEVICES) ********** */
@media screen and (max-width: 1024px) {
  .container.contact_container {
    /* grid-template-columns: 1fr;
        gap: 2rem; */
    width: var(--container-width-md);
  }
}

/* ********** MEDIA QUERIES (SMALL DEVICES) ********** */
@media screen and (max-width: 600px) {
  .container.contact_container {
    width: var(--container-width-sm);
    padding: 0 2rem 0 2rem;
  }
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

